.login-container {
	--clr: hsl(273, 100%, 12%);
	min-height: inherit;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	.big-logo {
		background-color: var(--clr-principal);
		min-height: inherit;
		display: flex;
		align-content: center;
		justify-content: center;
		.logo {
			fill: var(--clr-white);
		}
	}
	div:not(.big-logo) .logo {
		max-height: 4rem;
	}
	.login-button {
		color: var(--clr-black);
		border: 1px solid var(--clr-light-gray);
		border-radius: 2rem;
	}
	.login-button.principal-button {
		background-color: var(--clr-principal);
		color: var(--clr-white);
		border: none;
	}
	.tiny-text {
		font-size: 0.8rem;
		color: var(--clr-dark-gray);
		a {
			text-decoration: none;
			color: var(--clr-principal);
		}
	}
	div {
		padding: 0 10%;
	}
}

.login-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.login-container .form {
	display: flex;
	flex-flow: column;
	background-color: var(--clr-tertiary);
	gap: 1.5rem;
	max-width: 350px;
	h1,
	h2 {
		text-align: start;
		color: var(--clr-black);
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
	form {
		display: grid;
		grid-template-columns: auto auto;
		gap: 0.5rem;
		align-items: center;
		label {
			grid-column: 1 / span 1;
			text-align: end;
		}
		input {
			height: 1.25rem;
			border: 0.5px solid rgb(0, 0, 0, 0.2);
		}
		button {
			grid-column: 1 / -1;
			align-self: center;
			justify-self: center;
			background-color: #29004b;
			color: white;
		}
	}
}
