/*RESET*/
body {
	line-height: 1;
	margin: 0;
	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video {
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}
	ol,
	ul {
		list-style: none;
	}
	blockquote,
	q {
		quotes: none;
	}
	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: "";
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	button {
		border: 0;
		font-weight: bold;
	}
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--clr: 273;
	--clr-principal: #1da1f2;
	--clr-principal-dark: rgb(83, 183, 245);
	--clr-black: #14171a;
	--clr-dark-gray: #536471;
	--clr-light-gray: #aab8c2;
	--clr-extra-light-gray: #dedede;
	--clr-white: #f5f8fa;
	--clr-error: rgb(244, 33, 46);

	--little-shadow: 3px 3px 5px hsl(0, 0%, 0%, 0.2);
	--medium-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.2);
	--big-shadow: 10px 10px 5px hsl(0, 0%, 0%, 0.2);

	--radius: 10%;
	background-color: var(--clr-white);
}

body {
	max-width: 100dvw;
	min-height: 100dvh;
	* {
		.icon-button {
			background-color: transparent;
			padding: 0;
		}
		button {
			background-color: var(--clr-white);
			padding: 0.75rem 1.5rem;
			font-size: 1rem;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			justify-content: center;
		}
		button:hover {
			outline: 2px solid var(--clr-black);
			filter: brightness(0.92);
		}
		.savedBtn {
			background: var(--clr-accept);
		}
	}
	#root {
		min-height: 100dvh;
	}
	.logo {
		fill: var(--clr-principal);
	}
	.button-icon {
		max-width: 1rem;
	}
	.text-center {
		text-align: center;
	}
	.icon {
		height: 2rem;
	}
}
